<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="planilla_asistencias2"
         connectionString="server=localhost;user=matias;database=planilla_asistencia;port=3306;password=120491;"/>

    <add name="rapla2"
         connectionString="server=localhost;user=matias;database=rapla_test;port=3306;password=120491;"/>

    <add name="planilla_asistencias"
         connectionString="server=tricorder;user=p_asistencia;database=planilla_asistencia;port=3306;password=planilla123asistencia;"/>

    <add name="rapla"
         connectionString="server=tricorder;user=rapla_test;database=rapla_test;port=3306;password=rapla_test;"/>
    
  </connectionStrings>
  
</configuration>